* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  background: black;
  margin: 0 auto;
}

header .container h1 {
  color: white;
  text-align: center;
}
header .container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header .container .cards .card {
  position: relative;
  margin-top: 50px;
  width: 30%;
  color: white;
  background: rgb(38, 38, 39);
  padding-bottom: 40px;
  padding-left: 10px;
  padding-top: 20px;
  padding-right: 40px;
}
header .container .cards .card h2 {
  padding: 20px 0;
}
header .container .cards .card i {
  font-size: 40px;
}
header .container .cards .card img {
  position: absolute;
  top: 0;
  right: 0;
}

main section .container .container_cardlar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-top: 200px;
  color: white;
}
main section .container .container_cardlar .left {
  width: 40%;
}
main section .container .container_cardlar .left h1 {
  padding: 10px 0;
}
main section .container .container_cardlar .left .card {
  width: 100%;
  padding: 50px 0;
}
main section .container .container_cardlar .left .card .p_lar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .container .container_cardlar .left .card .p_lar .qizil {
  color: rgb(212, 0, 179);
}
main section .container .container_cardlar .left .card img {
  width: 100%;
}
main section .container .container_cardlar .right {
  transform: translate(0, -100px);
  width: 40%;
}
main section .container .container_cardlar .right h1 {
  padding: 10px 0;
}
main section .container .container_cardlar .right .card {
  width: 100%;
  padding: 50px 0;
}
main section .container .container_cardlar .right .card .p_lar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .container .container_cardlar .right .card .p_lar .qizil {
  color: rgb(212, 0, 179);
}
main section .container .container_cardlar .right .card img {
  width: 100%;
}
main .container .cardlar {
  display: flex;
  align-items: center;
}
main .container .cardlar .card_1 {
  width: 50%;
  background: rgb(38, 38, 39);
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
main .container .cardlar .card_1 h1 {
  font-family: Paytone One;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  color: rgb(212, 0, 179);
  padding: 10px 0;
}
main .container .cardlar .card_1 p {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  color: white;
}
main .container .cardlar .card2 {
  width: 50%;
  background: black;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
main .container .cardlar .card2 h1 {
  font-family: Paytone One;
  font-weight: 400;
  font-style: Regular;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1px;
}
main .container .container_cardlar {
  display: flex;
}
main .container .container_cardlar .card7 {
  text-align: center;
  width: 32%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container .container_cardlar .card7 h1 {
  padding: 10px 0;
  transform: translate(0, -50px);
}
main .container .container_cardlar .card7 img {
  width: 100%;
}
main .container .container_cardlar .card7 .kichkina {
  width: 30%;
  transform: translate(0, -80px);
}
main .container .container_cardlar .card7 .kichkina_1 {
  width: 30%;
  transform: translate(0, -80px);
  z-index: 40;
}
main .container .container_cardlar .card7 .img1 {
  z-index: 50;
}
main .container .container_cardlar .card7 a {
  color: white;
  font-family: Paytone One;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 13px 33px;
  background: rgb(212, 0, 179);
}/*# sourceMappingURL=farhod.css.map */