*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1{
     font-family: "Paytone One", sans-serif;
}

p{
      font-family: "Source Code Pro", monospace;
}

.container{
    .navbar{
        .munu2{
            display: none
        }
        .boshqa_a{
            padding: 10px 30px;
           background: rgba(212, 0, 179, 1);
           color: white;
         font-family: Paytone One;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 20px;
            letter-spacing: 1px;
            text-align: center;
            

        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        i{
            color: white;
            font-size: 50px;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 40px;
            .munu{
                display: none;
            }
            a{
                color: white;
                padding: 10px 20px;
                border-radius: 20px;
                border: 1px solid black;
                &:hover{
                    border: 1px solid white;
                }
            }
        }
    }
    .shov_case{
        width: 100%;
        background-image: url(./img/IMAGE\ \(10\).png);
        background-size: cover;
        height: 496px;
       
     .shov_text{
        background: black;
        width: 50%;
         h1{
            text-align: start;
            font-family: Paytone One;
            font-weight: 400;
            font-style: Regular;
            font-size: 84px;
            line-height: 100px;
            letter-spacing: 1px;
            
        }
        p{
            font-family: Source Sans Pro;
             font-weight: 400;
             font-style: Regular;
             font-size: 20px;
             line-height: 32px;
             letter-spacing: 1px;
             color: white;
             
        }
     }       
    }
}

.container{
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;
    background: black;
    margin: 0 auto;
}
header{
   .container{
       h1{
           color: white;
           text-align: center;
           padding-top: 100px;
       }
    .cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .card{
            position: relative;
            margin-top: 50px;
            width: 30%;
            color: white;
            background: rgba(38, 38, 39, 1);
            padding-bottom: 40px;
            padding-left: 10px;
            padding-top: 20px;
            padding-right: 40px;
            h2{
                padding: 20px 0;
            }
            i{
                font-size: 40px;
            }
            img{
                 position: absolute;
                 top: 0;
                 right: 0;
            }

        }
    }
   }
}


main{
    section{
        .container{
            .container_cardlar{
                justify-content: space-between;
                display: flex;
                align-items: center;
                padding-top: 200px;
                color: white;
                .left{
                    h1{
                        padding: 10px 0;
                    }
                    width: 40%;
                    
                    .card{
                        width: 100%;
                        padding: 50px 0;
                        .p_lar{

                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .qizil{
                                color: rgba(212, 0, 179, 1);
                            }
                        }
                        img{
                            width: 100%;
                        }
                    }
                }

                .right{
                    transform: translate(0 ,-100px);
                    h1{
                        padding: 10px 0;
                    }
                    width: 40%;
                      .card{
                        width: 100%;
                        padding: 50px 0;
                        .p_lar{

                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .qizil{
                                color: rgba(212, 0, 179, 1);
                            }
                        }
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .container{
        .cardlar{
            display: flex;
            align-items: center;
            .card_1{
                width: 50%;
                background: rgba(38, 38, 39, 1);
                padding-top:60px ;
                padding-left: 60px;
                padding-right: 60px;
                h1{
                    font-family: Paytone One;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 1px;
                    color: rgba(212, 0, 179, 1);
                    padding: 10px 0;
                    
                }
                p{
                    font-family: Source Sans Pro;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 1px;
                    color: white;
                    
                }

            }
            .card2{
                width: 50%;
                background: black;
                padding-top:60px ;
                padding-left: 60px;
                padding-right: 60px;
                color: white;
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                h1{
                    font-family: Paytone One;
                      font-weight: 400;
                      font-style: Regular;
                      font-size: 52px;
                      line-height: 64px;
                      letter-spacing: 1px;
                      
                }

            }
        }
        .container_cardlar{
            display: flex;
            .card7{
                text-align: center;
                width: 32%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                h1{
                    padding:10px 0;
                    transform: translate(0 ,-50px);
                   
                }
              
                img{
                   width: 100%;
                }
                .kichkina{
             width: 30%;
                  transform: translate(0 ,-80px);
                }
                .kichkina_1{
                    
                    width: 30%;
                  transform: translate(0 ,-80px);
                  z-index: 40;
                    
                }
                .img1{
                   z-index: 50;
                }
                a{
                    color: white;
                    font-family: Paytone One;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 1px;
                    text-align: center;
                    padding: 13px 33px;
                    background: rgba(212, 0, 179, 1);
               
                    
                }
            }
        }
    }
}


footer{
    .container{
        h3{
            text-align: center;
            color: white;
            padding: 30px 0;
        }
       
          .f_container{
            display: flex;
            align-items: center;
           padding:35px ;
           justify-content: space-between;
           padding-top:100px ;
           .footeri{
            color: white;
            font-size: 50px;
           }
           ul{
            display: flex;
            align-items: center;
            gap: 30px;
            a{

                color: white;
                font-family: Source Sans Pro;
                font-weight: 400;
                font-style: Regular;
                font-size: 18px;
                line-height: 20px;
                letter-spacing: 1px;
                padding: 20px 20px;
                border-radius: 20px;
                border: 1px solid black;
                &:hover{
                    border: 1px solid white;
                }
            }
               
           }
           .iconlar{
            a{
                color: white;
            }
            color: white;
            font-size: 30px;
           }
          }
    }
}

















@media(max-width:1108px){
    header{
        .container{
            .shov_case{
                .shov_text{
                    h1{
                        font-size: 50px;
                        line-height: normal;
                    }
                }
            }
        }
    }
}
@media(max-width:800px){
    header{
        .container{
            .navbar{
                ul{
                    gap: 0;
                }
            }
            .shov_case{
                .shov_text{
                   h1{
                    text-align: center;
                    padding: 0;
                   }
                    width: 100%;
                    text-align: center;
                }
                .shov_text{
                    h1{
                        font-size: 25px;
                        line-height: normal;
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}



@media(max-width:730px){
    footer{
        .container{
            .f_container{
                padding: 20px;
                ul{
                    gap: 0;
                    padding: 0;
                }
            }
        }
    }
}
@media(max-width:600px){
  header{
    .container{
        .cards{
            flex-direction: column;
            .card{
                width: 100%;
            }
        }
    }
  }
}



@media(max-width:620px){
    header{
        .container{
            .navbar{
                ul{
                    display: none;
                }
                .munu2{
                    display: block;
                    font-size: 20px;
                }
            }
        }
    }



    footer{
        .container{
            .f_container{
                flex-wrap: wrap;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }

    main{
        section{
            .container{
                .container_cardlar{
                    flex-direction: column;
                    .left{
                        width: 100%;
                    }
                    .right{
                        width: 100%;
                    }
                }
            }
        }
    }
    main{
        section{
            .container{
                .cardlar{
                    flex-direction: column;
                    .card_1{

                        width: 100%;
                    }
                    .card2{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width:500px){
main{
    section{
        .container{
            .container_cardlar{
                flex-direction: column;
                .card7{
                    width: 100%;
                    padding-top: 40px;
                }
            }
        }
    }
}
}